<nav>
    <ul class="menu">
        <li class="logo"><a href="#">KC Yap's GitHub Page</a></li>
        <li [ngClass]="[ isFavorite ? 'item active' : 'item']"><a href="#">Home</a></li>
        <li [ngClass]="[ isFavorite ? 'item active' : 'item']"><a href="#">About</a></li>
        <li [ngClass]="[ isFavorite ? 'item active' : 'item']"><a href="#">Blog</a></li>
        <li [ngClass]="[ isFavorite ? 'item active' : 'item']"><a href="#">Contact</a></li>
        <li class="toggle" (click)="toggleClass($event)"><a href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
</nav>